%h2= @page_title
%h3 Tags Used for Posts
%ul.archive-tags
  -@tags.each do |tag|
    %li
      =link_to "##{tag}", tag_url(tag), { :rel => "category tag", :title => "View other posts tagged with '#{tag}'"}
%h3 Chronological Archive (newest first)
%ul
  -@posts.each do |post|
    %li
      %p
        =link_to post.title, permalink_url(post), { :rel => "bookmark", :title => "Permanent link for this post"}
        %br
        =post.published_at.strftime('%Y-%m-%d %I:%M%p')
        -if post.tags.count > 0
          &mdash;
          -post.tags.each do |tag|
            =link_to "##{tag}", tag_url(tag), { :rel => "category tag", :title => "View other posts tagged with '#{tag}'"}
